@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #e5e5e5;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: collapse;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding-top: 150px;
  padding-left: 237px;
  padding-right: 237px;
  height: 558px;
  width: 806px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* -----Header----- */

.link--current {
  position: relative;
}
.link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 0, 27);
}

.page-header .container {
  width: 100%;
  opacity: 0.95;
}
@media screen and (min-width: 320px) {
  .page-header .container {
    padding-top: 40px;
    padding-bottom: 92px;
    background-image: url('../../src/images/header_mob_all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 320px) and (min-resolution: 192dpi),
  screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url('../../src/images/header_mob_all@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container {
    padding-top: 45px;
    padding-bottom: 80px;
    background-image: url('../../src/images/header_tabl_all.jpg');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url('../../src/images/header_tabl_all@2x.jpg');
  }
}
@media screen and (min-width: 1280px) {
  .page-header .container {
    background-image: url('../../src/images/header_desk_all.jpg');
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-header .container {
    background-image: url('../../src/images/header_desk_all@2x.jpg');
  }
}

/* -----Header nav----- */
.header-nav {
  display: flex;
  margin-bottom: 54px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-bottom: 40px;
  }
}

/* -----Header logo----- */
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__icon {
  fill: white;
}
@media screen and (min-width: 768px) {
  .header-logo__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo__icon {
    margin-right: 10px;
  }
}

.header-logo__text {
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}
@media screen and (max-width: 767px) {
  .header-logo__text {
    display: none;
  }
}

/* -----Header nav menu----- */
.header-nav__menu {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17px;
  text-transform: uppercase;
}

.header-nav__item .link {
  color: rgb(255, 255, 255);
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

/* -----Header search form - home pge----- */
.search-form {
  position: relative;
  background-color: transparent;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin: 0 auto;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
}

.search-form__input {
  border: none;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  width: 100%;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgb(255, 255, 255);
}
.search-form__input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.search-form__input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}
.search-form__input::placeholder {
  color: rgb(255, 255, 255);
}

.search-form__btn {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 6px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  outline: none;
  background-color: transparent;
} /*# sourceMappingURL=index.css.map */

/* -----Header library page - button----- */
.header-btn__wrapper {
  display: inline-block;
  margin: 0 auto;
}

.header-btn {
  width: 152px;
  height: 44px;

  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.header-btn__watchaed {
}
