@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #e5e5e5;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter__submit, .form-auth__button-reg, .form-auth__btn-submit, .load-more-btn, .button-add__watched {
  background-color: #ff6b08;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__submit:hover, .form-auth__button-reg:hover, .form-auth__btn-submit:hover, .load-more-btn:hover, .button-add__watched:hover, .filter__submit:focus, .form-auth__button-reg:focus, .form-auth__btn-submit:focus, .load-more-btn:focus, .button-add__watched:focus {
  background-color: #de5900;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.filter_open_btn, .button-add__queue {
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_open_btn:hover, .button-add__queue:hover, .filter_open_btn:focus, .button-add__queue:focus {
  background-color: #de5900;
  border: 1px solid #de5900;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  color: #ffffff;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.link--current {
  position: relative;
}
.link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 0, 27);
}

.page-header {
  height: 215px;
  background-color: rgba(0, 0, 0, 0.56);
}
@media screen and (max-width: 320px) {
  .page-header {
    background-image: url("../../src/images/header_mob_all.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 320px) {
  .page-header {
    height: 230px;
    background-image: url("../../src/images/header_mob_all.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../src/images/header_mob_all@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 220px;
    background-image: url("../../src/images/header_tabl_all.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../src/images/header_tabl_all@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .page-header {
    height: 215px;
    background-image: url("../../src/images/header_desk_all.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../../src/images/header_desk_all@2x.jpg");
  }
}

.page-header .container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) {
  .page-header .container {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header .container {
    padding-top: 45px;
  }
}

.header-nav {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .header-nav {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .header-nav {
    margin-bottom: 40px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-logo__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo__icon {
    margin-right: 10px;
  }
}

.header-logo__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}
@media screen and (max-width: 767px) {
  .header-logo__text {
    display: none;
  }
}

.header-nav__menu {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17px;
  text-transform: uppercase;
}

.header-nav__item .link {
  color: rgb(255, 255, 255);
}

.header-nav__item:not(:last-child) {
  margin-right: 9px;
}
@media screen and (min-width: 768px) {
  .header-nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.search-form {
  position: relative;
  background-color: transparent;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin: 0 auto;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
}

.search-form__input {
  margin-bottom: 20px;
  border: none;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  width: 100%;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}
.search-form__input::-moz-placeholder {
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  color: #ffffff;
}
.search-form__input::placeholder {
  color: #ffffff;
}

.search-form__btn {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 26px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  outline: none;
  background-color: transparent;
}

.btnAuth.is-hidden {
  display: none;
}

.btnNotAuth.is-hidden {
  display: none;
}

.films-gallery-container {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .films-gallery-container {
    padding-top: 32px;
  }
}

.films-gallery,
.library-gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .films-gallery,
.library-gallery {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .films-gallery,
.library-gallery {
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 32px;
  }
}

.film-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 280px;
  min-width: 280px;
}
@media screen and (min-width: 768px) {
  .film-card {
    flex-basis: calc((100% - 32px) / 2);
    width: 336px;
    min-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    flex-basis: calc((100% - 32px) / 3);
  }
}

.film-card__img-box {
  width: 100%;
  min-height: 402px;
  height: 402px;
}
@media screen and (min-width: 768px) {
  .film-card__img-box {
    min-height: 455px;
    height: 455px;
    border-radius: 5px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__img-box {
    min-height: 574px;
    height: 574px;
  }
}

.film-card__link {
  width: 100%;
  height: 100%;
}

.film-card__img {
  width: 100%;
  height: 100%;
}

.film-card__info {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .film-card__info {
    padding-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__info {
    padding-top: 12px;
  }
}

.film-card__name {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .film-card__name {
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__data {
  color: #ff6b08;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .film-card__data {
    font-size: 12px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__data {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card-wrap {
  display: flex;
  flex-direction: row;
}

.film-card__average {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  width: 36px;
  height: 16px;
  color: #ffffff;
  background: #ff6b08;
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .film-card__average {
    width: 40px;
    height: 20px;
  }
}

.film-gallery__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 107, 1, 0.2);
  overflow: hidden;
  z-index: 5;
}

.film-gallery__spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: flex;
  background-color: #fff;
  opacity: 1;
  border: 2px solid #ff6b01;
  border-radius: 10px;
  z-index: 10;
}

.isHidden-spiner {
  display: none;
}

.film-gallery__spiner--svg {
  fill: #ff6b01;
  justify-content: center;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pagination__cont {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .pagination__cont {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-search {
  display: flex;
}

.btn--decrement,
.btn--increment {
  cursor: pointer;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: rgb(247, 247, 247);
  border: none;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .btn--decrement,
.btn--increment {
    width: 40px;
    height: 40px;
  }
}

.btn--decrement {
  margin-right: 6px;
}
@media screen and (min-width: 768px) {
  .btn--decrement {
    margin-right: 16px;
  }
}

.btn--decrement:hover,
.btn--increment:hover,
.pagination__link:hover {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.pagination__icon {
  color: black;
}

.pagination__wrap {
  display: flex;
  justify-content: center;
}

.btn--increment {
  margin-left: 6px;
}
@media screen and (min-width: 768px) {
  .btn--increment {
    margin-left: 16px;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 38px;
  height: 38px;
}
@media screen and (min-width: 768px) {
  .pagination__item {
    width: 40px;
    height: 40px;
  }
}

.pagination__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  color: rgb(0, 0, 0);
}

.pagination__item--active {
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 5px;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility, translate;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: collapse;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 300px;
  min-width: 200px;
  max-height: 95vh;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .modal-card {
    display: flex;
  }
}

.modal-card__size {
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  min-height: 300px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .modal-card__size {
    display: flex;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    padding-bottom: 40px;
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__size {
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 40px;
    min-height: 558px;
    width: 806px;
  }
}

.modal-card__img {
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-card__img {
    max-width: 264px;
    max-height: 374px;
    margin-right: 68px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__img {
    margin-right: 16px;
    max-width: 375px;
    max-height: 478px;
    height: 100%;
  }
}

.modal-card__list {
  flex-shrink: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-card__list {
    max-width: 264px;
    max-height: 374px;
    margin-right: 68px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__list {
    margin-right: 16px;
    max-width: 375px;
    max-height: 478px;
    height: 100%;
  }
}
.modal-card__list:hover, .modal-card__list:focus {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #de5900;
  border: 1px solid #de5900;
  border-radius: 50%;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.modal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table {
  display: flex;
  min-height: 88px;
}

.modal-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .modal-card__title {
    font-size: 30px;
    line-height: 1.17;
  }
}

.table {
  width: 100%;
  margin-bottom: 16px;
}

.table__line {
  height: 24px;
}

.table__parametr {
  padding-right: 39px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.table-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.table__span-value {
  width: 36px;
  height: 16px;
  left: 148px;
  top: 488px;
  margin-right: 1px;
  background: #ff6b08;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.table__value-slash {
  margin-right: 7px;
}

.about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.about-text {
  overflow: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
  width: 240px;
  max-height: 236px;
}
@media screen and (min-width: 768px) {
  .about-text {
    width: 264px;
    max-height: 236px;
  }
}
@media screen and (min-width: 1280px) {
  .about-text {
    width: 391px;
    max-height: 160px;
  }
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add__watched {
  width: 110px;
  min-height: 44px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .button-add__watched {
    width: 120px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .button-add__watched {
    width: 136px;
  }
}

.button-add__queue {
  width: 110px;
  min-height: 44px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .button-add__queue {
    width: 120px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .button-add__queue {
    width: 136px;
  }
}

.modal-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.modal-spinner.is-hidden {
  opacity: 0;
}

.page-header__lib {
  height: 215px;
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 320px) {
  .page-header__lib {
    background-image: url("../../src/images/lib_main_mob_1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 320px) {
  .page-header__lib {
    height: 230px;
    background-image: url("../../src/images/lib_main_mob_1x.jpg");
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .page-header__lib {
    background-image: url("../../src/images/lib_main_mob_2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .page-header__lib {
    height: 220px;
    background-image: url("../../src/images/lib_main_tab_1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header__lib {
    background-image: url("../../src/images/lib_main_tab_2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .page-header__lib {
    height: 215px;
    background-image: url("../../src/images/lib_main_desk_1X.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-header__lib {
    background-image: url("../../src/images/lib_main_desk_2x.jpg");
  }
}

.page-header__lib .container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) {
  .page-header__lib .container {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__lib .container {
    padding-top: 45px;
  }
}

.header-btn__wrapper {
  display: flex;
  justify-content: center;
}

.header-btn {
  display: block;
  width: 152px;
  height: 44px;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .header-btn {
    width: 129.53px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    width: 152px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .header-btn {
    width: 148px;
    height: 42px;
  }
}

.header-btn__watched {
  margin-right: 16px;
}
@media screen and (min-width: 320px) {
  .header-btn__watched {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .header-btn__watched {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-btn__watched {
    margin-right: 16px;
  }
}

.header-btn__watched,
.header-btn__queue {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.header-btn:hover {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.is-active__btn {
  background-color: #ff6b01;
}

.footer {
  background-color: #f7f7f7;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.18;
  }
}

.footer__container {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer__container {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    height: 77px;
  }
}

@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.footer__span {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__span {
    margin-bottom: 0;
  }
}

.footer__btn {
  border-color: transparent;
  background-color: transparent;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #545454;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.18;
  padding: 0;
}
.footer__btn:hover, .footer__btn:focus {
  color: #ff6b08;
}

.footer__svg {
  margin-left: 6px;
  margin-right: 6px;
}

.team {
  margin: 35px;
  overflow: auto;
  height: 80vh;
  width: 90vw;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container__team {
    width: calc((100% - 32px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .container__team {
    width: calc((100% - 64px) / 3);
    margin: 0;
  }
}

.team__list {
  display: flex;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;
  flex-flow: column wrap;
}
@media screen and (min-width: 768px) {
  .team__list {
    margin-bottom: 5px;
    font-size: 16px;
    justify-content: center;
  }
}

.team__face {
  width: 100%;
  height: 100%;
}

.team__desc {
  padding: 15px;
  text-align: center;
  width: 100%;
}

.team__members {
  margin-bottom: 7px;
}

.team__members-name {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .team__members-name {
    font-size: 18px;
  }
}

.team__inform {
  color: #a55205;
}

.team__social-sprite {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.team__sotial-list {
  margin-right: 10px;
}

.team__link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.team__link:hover, .team__link:focus {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.team__svg {
  text-align: center;
  border: 1px solid #ff6b08;
  border-radius: 50%;
  stroke: #ff6b08;
  fill: #ff6b08;
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

.isHiddenBtn {
  scale: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-up {
  position: fixed;
  cursor: pointer;
  scale: 0;
  z-index: 9999;
  fill: #ff6b01;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-up:hover {
  fill: #de5900;
}
@media screen and (min-width: 768px) {
  .arrow-up {
    scale: 0.3;
    right: -70px;
    bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .arrow-up {
    scale: 0.5;
    bottom: 100px;
    right: -70px;
  }
}

.load-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  cursor: pointer;
}

.spinner {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.isHidden-spinner {
  display: none;
}

.without-spinner {
  padding-top: 13px;
  padding-bottom: 13px;
}

.backdrop-auth-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-auth-user.is-hidden {
  display: none;
}

.form-auth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 20px;
  transform: translate(-50%, -50%) scale(1);
  background: rgb(255, 107, 2);
  box-shadow: 0 15px 25px rgba(255, 107, 2, 0.4);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-auth {
    width: 500px;
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .form-auth {
    width: 700px;
    padding: 40px;
  }
}
.form-auth.is-hidden {
  display: none;
}
.form-auth__btn-close {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.form-auth__button-close {
  background: #fff;
  width: 30px;
  height: 30px;
  border: none;
  -webkit-clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
          clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
}
.form-auth__title {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.form-auth__input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-auth__lable {
  position: relative;
  left: 0;
  top: -85px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.form-auth__btn-submit {
  color: rgb(255, 107, 2);
  background: #fff;
  width: 120px;
  height: 40px;
  font-size: 22px;
  text-transform: uppercase;
  transition: 0.5s;
}
.form-auth__btn-submit:hover {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
}
.form-auth__box-button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.form-auth__registrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
}
.form-auth__button-reg {
  color: #fff;
  width: 150px;
  padding: 5px 10px;
  transition: 0.5s;
}
.form-auth__button-reg:hover {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
}

.spinner {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filter_open_btn {
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgb(238, 235, 235);
  color: black;
  width: 120px;
  cursor: pointer;
}

.filter {
  position: absolute;
  top: 220px;
  background-color: #000;
  padding: 40px;
  background-color: rgb(238, 235, 235);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media screen and (max-width: 450px) {
  .filter {
    padding: 10px;
    top: 230px;
  }
}
@media screen and (min-width: 451px) and (max-width: 549px) {
  .filter {
    max-width: 450px;
    top: 230px;
    padding: 20px;
  }
}
@media screen and (min-width: 550px) {
  .filter {
    width: 500px;
    top: 230px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    top: 220px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.filter-form {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 450px) {
  .filter-form {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 451px) and (max-width: 549px) {
  .filter-form {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}

.checkbox-genre {
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: flex-start;
}
@media screen and (max-width: 450px) {
  .checkbox-genre {
    width: 140px;
  }
}
@media screen and (min-width: 451px) and (max-width: 549px) {
  .checkbox-genre {
    width: 160px;
  }
}

.input-year__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-year {
  display: flex;
  position: relative;
  height: 150px;
  justify-content: center;
}

.rangeValues {
  color: #000;
  height: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

input[type=range] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  border: 1px solid #ff6b08;
  border-radius: 14px;
  background-color: transparent;
  top: 50px;
  width: 200px;
  height: 20px;
}
@media screen and (max-width: 450px) {
  input[type=range] {
    width: 125px;
  }
}
@media screen and (min-width: 451px) and (max-width: 549px) {
  input[type=range] {
    width: 140px;
  }
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ff4500;
  margin-top: 1px;
  margin-bottom: 1px;
}

.filter__submit {
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.filter_close_btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 12px;
  right: 18px;
  align-items: center;
  justify-content: center;
  fill: rgb(33, 33, 33);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_close_btn:focus, .filter_close_btn:hover {
  border-color: #ff6b08;
}
.filter_close_btn:focus .filter_icon-close, .filter_close_btn:hover .filter_icon-close {
  fill: #ff6b08;
}

.filter_icon-close {
  fill: rgb(33, 33, 33);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=index.css.map */