%common-btn {
  // margin-top: 13px;
  // margin-bottom: 13px;
  background-color: getColor('orange-btn');
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  @include transitions((background-color, box-shadow));

  &:hover,
  &:focus {
    background-color: #de5900;

    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

// ⬇️ ⬇️ ⬇️ Приклад використання ⬇️ ⬇️ ⬇️
// .button {
//   @extend %common-btn;
//   width: 120px;
// }

%secondary-btn {
  // padding-top: 13px;
  // padding-bottom: 13px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;

  @include transitions((background-color, box-shadow));

  &:hover,
  &:focus {
    background-color: #de5900;
    border: 1px solid #de5900;

    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    color: #ffffff;
  }
}
