.filter_open_btn {
  margin-left: 50%;
  transform: translate(-50%);
}
.filter {
  margin-top: 20px;
  position: relative;
  padding: 40px;

  background-color: rgba(255, 255, 255, 1);

  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 450px) {
    max-width: 450px;
  }
  @media screen and (min-width: 450px) {
    width: 450px;
  }
}
// Это вернуть .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
.filter-form {
  display: flex;
  align-items: flex-start;
}
.checkbox-genre {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.input-year {
  display: flex;
  align-items: center;
  & input {
    margin-right: 20px;
  }
}
