.filter_open_btn {
  margin-left: 50%;
  transform: translate(-50%);
  @extend %secondary-btn;
  background-color: rgb(238, 235, 235);
  color: black;
  width: 120px;
  cursor: pointer;
}
.filter {
  position: absolute;
  top: 220px;
  background-color: #000;
  //margin-top: 20px;

  padding: 40px;

  background-color: rgb(238, 235, 235);

  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  @media screen and (max-width: 450px) {
    padding: 10px;
    top: 230px;
  }

  @media screen and (min-width: 451px) and (max-width: 549px) {
    max-width: 450px;
    top: 230px;
    padding: 20px;
  }
  @media screen and (min-width: 550px) {
    width: 500px;
    top: 230px;
  }
  @include tablet {
    top: 220px;
  }
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-form {
  display: flex;
  align-items: center;
  column-gap: 40px;
  @media screen and (max-width: 450px) {
    column-gap: 20px;
  }
  @media screen and (min-width: 451px) and (max-width: 549px) {
    column-gap: 25px;
  }
}
.checkbox-genre {
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: flex-start;
  @media screen and (max-width: 450px) {
    width: 140px;
  }
  @media screen and (min-width: 451px) and (max-width: 549px) {
    width: 160px;
  }
}
.input-year__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-year {
  display: flex;
  position: relative;

  height: 150px;
  //   float: left;
  justify-content: center;
}
.rangeValues {
  // outline: 1px solid #ff4500;
  color: #000;
  //   position: relative;

  height: 30px;
  //   float: left;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}
input[type='range'] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  //   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: 1px solid getColor('orange-btn'); //#ff4500;
  border-radius: 14px;

  background-color: transparent;

  top: 50px;
  width: 200px;

  height: 20px;
  @media screen and (max-width: 450px) {
    width: 125px;
  }
  @media screen and (min-width: 451px) and (max-width: 549px) {
    width: 140px;
  }
}
input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ff4500;
  margin-top: 1px;
  margin-bottom: 1px;
}
//input[type='range']::-webkit-slider-runnable-track {
//  width: 300px;
//height: 5px;
// background: #ddd;
// border: none;
// border-radius: 3px;
// }

.filter__submit {
  @extend %common-btn;
  width: 120px;
  height: 50px;
  cursor: pointer;
}
.filter_close_btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 12px;
  right: 18px;
  align-items: center;
  justify-content: center;
  fill: rgba(33, 33, 33, 1);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  @include transitions(border-color);
  &:focus,
  &:hover {
    border-color: getColor('orange-btn');
    & .filter_icon-close {
      fill: getColor('orange-btn');
    }
  }
}
.filter_icon-close {
  fill: rgba(33, 33, 33, 1);

  @include transitions(fill);
}
