.footer {
background-color: #F7F7F7;
font-weight: $font-normal;
font-style: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 1.14;

    @include tablet {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.18;
    }
}

.footer__container {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: getColor('footer-text');
    
    @include tablet {
        height: 79px;
    }

    @include desktop {
        height: 77px;
    }

}   

.footer__text{
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.footer__span{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    @include tablet{
        margin-bottom: 0;
    }
}
    
.footer__btn {

    border-color: transparent;
    background-color: transparent;
    text-align: center;
    text-decoration-line: underline;
    color: getColor('footer-text');
    @include transitions(color);
    line-height: 1.18;
    padding: 0;
    
    &:hover,
    &:focus {
        color: getColor('orange-text');
    }
}

.footer__svg{
    margin-left: 6px;
    margin-right: 6px;
   
}