.backdrop-auth-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-auth-user.is-hidden {
  display: none;
}

.form-auth {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 320px;
  padding: 20px;

  transform: translate(-50%, -50%) scale(1);

  background: rgb(255, 107, 2);
  box-shadow: 0 15px 25px rgba(255, 107, 2, 0.4);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 500px;
    padding: 30px;
  }

  @include desktop {
    width: 700px;
    padding: 40px;
  }

  &.is-hidden {
    display: none;
  }

  &__btn-close {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__button-close {
    background: #fff;
    width: 30px;
    height: 30px;

    border: none;

    clip-path: polygon(
      10% 0%,
      0% 10%,
      40% 50%,
      0% 90%,
      10% 100%,
      50% 60%,
      90% 100%,
      100% 90%,
      60% 50%,
      100% 10%,
      90% 0%,
      50% 40%
    );
  }

  &__title {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  &__input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  &__lable {
    position: relative;
    left: 0;
    top: -85px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }

  &__btn-submit {
    @extend %common-btn;

    color: rgb(255, 107, 2);
    background: #fff;
    width: 120px;
    height: 40px;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
    }
  }

  &__box-button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  &__registrate {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin: auto;
    width: 60%;
    text-align: center;
  }

  &__button-reg {
    @extend %common-btn;

    color: #fff;
    width: 150px;
    padding: 5px 10px;
    // text-transform: uppercase;
    transition: 0.5s;

    &:hover {
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
    }
  }
}
