.pagination__cont {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
}

.pagination-search {
  display: flex;
}

.btn--decrement,
.btn--increment {
  cursor: pointer;

  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  outline: none;

  background-color: rgba(247, 247, 247, 1);
  border: none;
  border-radius: 5px;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.btn--decrement {
  margin-right: 6px;

  @include tablet {
    margin-right: 16px;
  }
}

.btn--decrement:hover,
.btn--increment:hover,
.pagination__link:hover {
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.pagination__icon {
  color: black;
}
.pagination__wrap {
  display: flex;
  justify-content: center;
}
.btn--increment {
  margin-left: 6px;

  @include tablet {
    margin-left: 16px;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 38px;
  height: 38px;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.pagination__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: $font-bold;
  font-size: 15px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 1);
}

.pagination__item--active {
  background-color: getColor('orange-text');
  color: getColor('white-text');
  border-radius: 5px;
}
