.form {
  max-width: 449px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-top: 0;

  @media screen and (min-width: 320px) {
    max-width: 370px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 449px;
  }
}
.form-input:last-child {
  margin-right: 0px;
}

.form-label {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: calc(18 / 12);
  color: getColor('orange-text');
  letter-spacing: 0.01em;
  margin-top: 7px;
  font-weight: 500;
}
.form-label:first-child {
  margin-top: 0px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}
.form-field:last-child {
  margin-bottom: 0px;
}
.form-input {
  margin-right: 5px;
  padding: 12px 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  border-color: getColor('secondary-text');
  outline: none;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
  }
}
.form-input:hover,
.form-input:focus {
  border-color: getColor('orange-text');
}
.close-item {
  position: absolute;
  z-index: 4;
  padding: 3px 3px;
  top: 0%;
  right: 0;
}
.title-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  color: getColor('orange-text');
  margin-bottom: 65px;
}

.button-reg-modal {
  @extend %common-btn;
  width: 112px;
  height: 45px;
}
