<div class="backdrop-auth-user is-hidden">
  <!-- form auth -->
  <div class="form-auth">
    <div class="form-auth__btn-close">
      <button type="button" class="form-auth__button-close"></button>
    </div>
    <h2 class="form-auth__title">Login</h2>

    <form class="form-auth__form-login">
      <div class="form-auth__user-box">
        <input type="text" name="email" class="form-auth__input" />
        <lable class="form-auth__lable">Email</lable>
      </div>

      <div class="form-auth__user-box">
        <input type="password" name="pass" class="form-auth__input" />
        <lable class="form-auth__lable">Password</lable>
      </div>

      <div class="form-auth__box-button-form">
        <button type="submit" class="form-auth__btn-submit">LogIn</button>
        <div class="form-auth__registrate">
          <p class="title-question-user">Don't have an account?</p>
          <button class="form-auth__button-reg">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
